*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav ul{
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.but1{
    background-color: #005F5A;
    color: white;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    margin: 10px;
}
.topic{
    max-width: 53ch;
    margin-inline: auto;
    line-height: 3rem;
    text-wrap: balance;
    font-size: 3rem;
    text-align: center;
}

article{
    max-width: 50ch;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.but2{
    
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

}

.image1{
    width: 208vh;
    height: 90vh;
    margin-top: 80px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
}

.sec1{
      max-width: 70ch;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    margin-left: 150px;
}

p{
    max-width: 30ch;
    
}

.container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    background-color: whitesmoke;

}

.container3 img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-inline: auto;
}

.container3 p{
    font-size: 30px;
       max-width: 10ch;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;

}

.container3 img:hover{
    background: whitesmoke;
    color: black;
}


.but3{
    
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

button:hover{
    background: white;
    color: black;
    transform: translateY(-5px);
}
.but1:hover{
     background: #022d2b;
    color: white;
    transform: translateY(-5px);
}

.stories{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    margin-left: 150px;
    margin-top: 50px;
   
}

.success{ 
display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    margin-left: 150px;

}

.rmss{
    align-items: center;
    text-decoration: underline;
    color: blue;
    text-align: center;
}

.sec2{
      max-width: 70ch;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

.last{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
   color: whitesmok ;

}
.but4{
       
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.but5{
    background-color: #005F5A;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    margin: 10px;
}